In [1]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('valorant.sqlite')

# Load data from the database into a pandas DataFrame
# Using the table names based on the dataset structure from Kaggle
# Reference: https://www.kaggle.com/datasets/visualize25/valorant-pro-matches-full-data
query_matches = "SELECT * FROM Matches"
query_game = "SELECT * FROM Games"
query_game_rounds = "SELECT * FROM Game_Rounds"
query_game_scoreboard = "SELECT * FROM Game_Scoreboard"

df_matches = pd.read_sql_query(query_matches, conn)
df_game = pd.read_sql_query(query_game, conn)
df_game_rounds = pd.read_sql_query(query_game_rounds, conn)
df_game_scoreboard = pd.read_sql_query(query_game_scoreboard, conn)

# Close the connection
conn.close()

C:\Users\12406\AppData\Local\Temp\ipykernel_8216\3982921512.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df_matches.head()

,MatchID,Date,Patch,EventID,EventName,EventStage,Team1ID,Team2ID,Team1,Team2,Team1_MapScore,Team2_MapScore
0,62393,2022-01-08 15:30:00,Patch 3.12,826,Nerd Street Gamers Winter Championship - Regio...,Group Stage: Decider (A),6903,6020,Booster Seat Gaming,Pho Real,2,1
1,62403,2022-01-08 15:30:00,Patch 3.12,826,Nerd Street Gamers Winter Championship - Regio...,Group Stage: Decider (C),7046,7047,Bjor's Kittens,Mugiwara,2,0
2,62391,2022-01-08 12:30:00,Patch 3.12,826,Nerd Street Gamers Winter Championship - Regio...,Group Stage: Winner's (A),6461,6903,Akrew,Booster Seat Gaming,2,1
3,62396,2022-01-08 12:30:00,Patch 3.12,826,Nerd Street Gamers Winter Championship - Regio...,Group Stage: Winner's (B),6164,7043,Radiance,sameROFLMAO,2,0
4,62401,2022-01-08 12:30:00,Patch 3.12,826,Nerd Street Gamers Winter Championship - Regio...,Group Stage: Winner's (C),7045,7046,Salt and Vinegar,Bjor's Kittens,2,0

In [3]:
df_game.head()

,GameID,MatchID,Map,Team1ID,Team2ID,Team1,Team2,Winner,Team1_TotalRounds,Team2_TotalRounds,...,Team1_FullBuyWon,Team2_PistolWon,Team2_Eco,Team2_EcoWon,Team2_SemiEco,Team2_SemiEcoWon,Team2_SemiBuy,Team2_SemiBuyWon,Team2_FullBuy,Team2_FullBuyWon
0,60894,62393,Breeze,6903,6020,Booster Seat Gaming,Pho Real,Booster Seat Gaming,13,7,...,8.0,0.0,4.0,0.0,2.0,0.0,4.0,1.0,10.0,6.0
1,60895,62393,Bind,6903,6020,Booster Seat Gaming,Pho Real,Pho Real,2,13,...,1.0,2.0,2.0,2.0,0.0,0.0,4.0,3.0,9.0,8.0
2,60896,62393,Haven,6903,6020,Booster Seat Gaming,Pho Real,Booster Seat Gaming,13,8,...,9.0,1.0,2.0,1.0,2.0,0.0,6.0,2.0,11.0,5.0
3,60924,62403,Icebox,7046,7047,Bjor's Kittens,Mugiwara,Bjor's Kittens,13,6,...,8.0,0.0,4.0,0.0,1.0,0.0,2.0,1.0,12.0,5.0
4,60925,62403,Haven,7046,7047,Bjor's Kittens,Mugiwara,Bjor's Kittens,13,9,...,11.0,1.0,3.0,2.0,3.0,0.0,4.0,3.0,12.0,4.0

In [4]:
df_game_rounds.head()

  GameID  Team1ID  Team2ID                                       RoundHistory
0  60894     6903     6020  {1: {'RoundWinner': 'BOOS', 'ScoreAfterRound':...
1  60895     6903     6020  {1: {'RoundWinner': 'PHO ', 'ScoreAfterRound':...
2  60896     6903     6020  {1: {'RoundWinner': 'PHO ', 'ScoreAfterRound':...
3  60924     7046     7047  {1: {'RoundWinner': 'BJOR', 'ScoreAfterRound':...
4  60925     7046     7047  {1: {'RoundWinner': 'BJOR', 'ScoreAfterRound':...

In [5]:
for i in range(1, 21):
    print(type(df_game_rounds["RoundHistory"][0]))

# Convert the string representation of the dictionary into an actual dictionary
import ast

# Extract the RoundHistory string from the DataFrame
round_history_string = df_game_rounds.loc[0, 'RoundHistory']

# Convert the string to a dictionary
round_history_dict = ast.literal_eval(round_history_string)

# Print the dictionary to verify
print(round_history_dict)

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
{1: {'RoundWinner': 'BOOS', 'ScoreAfterRound': '1-0', 'WinType': 'elim', 'Team1Bank': 300.0, 'Team2Bank': 100.0, 'Team1BuyType': 'eco', 'Team2BuyType': 'eco'}, 2: {'RoundWinner': 'BOOS', 'ScoreAfterRound': '2-0', 'WinType': 'elim', 'Team1Bank': 2700.0, 'Team2Bank': 8600.0, 'Team1BuyType': 'semi-buy', 'Team2BuyType': 'eco'}, 3: {'RoundWinner': 'BOOS', 'ScoreAfterRound': '3-0', 'WinType': 'elim', 'Team1Bank': 12300.0, 'Team2Bank': 400.0, 'Team1BuyType': 'semi-buy', 'Team2BuyType': 'full-buy'}, 4: {'RoundWinner': 'BOOS', 'ScoreAfterRound': '4-0', 'WinType': 'elim', 'Team1Bank': 23600.0, 'Team2Bank': 9800.0, 'Team1BuyType': 'full-buy', 'Team2BuyType': 'semi-eco'}, 5: {'RoundWinner': 'PHO ', 'ScoreAfterRound': '4-1', 'WinType': 'boom', 'Team1Bank': 24200.0, 'Team2Bank': 3300.0, 'Team1BuyType': 'full-buy', 'Team2BuyType': 'full-buy'}, 6: {'RoundWinner': 'PHO ', 'ScoreAfterRound': '4-2', 'WinType': 'boom', 'Team1Bank': 10200.0, 'Team2Bank': 10300.0, 'Team1BuyType': 'full-buy', 'Team2BuyType': 'full-buy'}, 7: {'RoundWinner': 'BOOS', 'ScoreAfterRound': '5-2', 'WinType': 'elim', 'Team1Bank': 5700.0, 'Team2Bank': 8900.0, 'Team1BuyType': 'full-buy', 'Team2BuyType': 'full-buy'}, 8: {'RoundWinner': 'BOOS', 'ScoreAfterRound': '6-2', 'WinType': 'time', 'Team1Bank': 6400.0, 'Team2Bank': 2400.0, 'Team1BuyType': 'full-buy', 'Team2BuyType': 'semi-buy'}, 9: {'RoundWinner': 'BOOS', 'ScoreAfterRound': '7-2', 'WinType': 'elim', 'Team1Bank': 10900.0, 'Team2Bank': 5900.0, 'Team1BuyType': 'full-buy', 'Team2BuyType': 'semi-buy'}, 10: {'RoundWinner': 'PHO ', 'ScoreAfterRound': '7-3', 'WinType': 'boom', 'Team1Bank': 16500.0, 'Team2Bank': 1200.0, 'Team1BuyType': 'full-buy', 'Team2BuyType': 'full-buy'}, 11: {'RoundWinner': 'PHO ', 'ScoreAfterRound': '7-4', 'WinType': 'elim', 'Team1Bank': 6800.0, 'Team2Bank': 12300.0, 'Team1BuyType': 'full-buy', 'Team2BuyType': 'full-buy'}, 12: {'RoundWinner': 'PHO ', 'ScoreAfterRound': '7-5', 'WinType': 'elim', 'Team1Bank': 900.0, 'Team2Bank': 9700.0, 'Team1BuyType': 'semi-buy', 'Team2BuyType': 'full-buy'}, 13: {'RoundWinner': 'BOOS', 'ScoreAfterRound': '8-5', 'WinType': 'elim', 'Team1Bank': 300.0, 'Team2Bank': 100.0, 'Team1BuyType': 'eco', 'Team2BuyType': 'eco'}, 14: {'RoundWinner': 'BOOS', 'ScoreAfterRound': '9-5', 'WinType': 'elim', 'Team1Bank': 3000.0, 'Team2Bank': 8200.0, 'Team1BuyType': 'semi-buy', 'Team2BuyType': 'eco'}, 15: {'RoundWinner': 'PHO ', 'ScoreAfterRound': '9-6', 'WinType': 'elim', 'Team1Bank': 11900.0, 'Team2Bank': 500.0, 'Team1BuyType': 'semi-buy', 'Team2BuyType': 'full-buy'}, 16: {'RoundWinner': 'BOOS', 'ScoreAfterRound': '10-6', 'WinType': 'elim', 'Team1Bank': 1900.0, 'Team2Bank': 9200.0, 'Team1BuyType': 'full-buy', 'Team2BuyType': 'full-buy'}, 17: {'RoundWinner': 'PHO ', 'ScoreAfterRound': '10-7', 'WinType': 'elim', 'Team1Bank': 12200.0, 'Team2Bank': 700.0, 'Team1BuyType': 'full-buy', 'Team2BuyType': 'semi-buy'}, 18: {'RoundWinner': 'BOOS', 'ScoreAfterRound': '11-7', 'WinType': 'elim', 'Team1Bank': 3700.0, 'Team2Bank': 6500.0, 'Team1BuyType': 'full-buy', 'Team2BuyType': 'full-buy'}, 19: {'RoundWinner': 'BOOS', 'ScoreAfterRound': '12-7', 'WinType': 'elim', 'Team1Bank': 3900.0, 'Team2Bank': 9100.0, 'Team1BuyType': 'full-buy', 'Team2BuyType': 'semi-eco'}, 20: {'RoundWinner': 'BOOS', 'ScoreAfterRound': '13-7', 'WinType': 'elim', 'Team1Bank': 3600.0, 'Team2Bank': 3500.0, 'Team1BuyType': 'full-buy', 'Team2BuyType': 'semi-buy'}}

In [6]:
print(type(round_history_dict))

for i in range(1, 21):
    print(round_history_dict[i])

<class 'dict'>
{'RoundWinner': 'BOOS', 'ScoreAfterRound': '1-0', 'WinType': 'elim', 'Team1Bank': 300.0, 'Team2Bank': 100.0, 'Team1BuyType': 'eco', 'Team2BuyType': 'eco'}
{'RoundWinner': 'BOOS', 'ScoreAfterRound': '2-0', 'WinType': 'elim', 'Team1Bank': 2700.0, 'Team2Bank': 8600.0, 'Team1BuyType': 'semi-buy', 'Team2BuyType': 'eco'}
{'RoundWinner': 'BOOS', 'ScoreAfterRound': '3-0', 'WinType': 'elim', 'Team1Bank': 12300.0, 'Team2Bank': 400.0, 'Team1BuyType': 'semi-buy', 'Team2BuyType': 'full-buy'}
{'RoundWinner': 'BOOS', 'ScoreAfterRound': '4-0', 'WinType': 'elim', 'Team1Bank': 23600.0, 'Team2Bank': 9800.0, 'Team1BuyType': 'full-buy', 'Team2BuyType': 'semi-eco'}
{'RoundWinner': 'PHO ', 'ScoreAfterRound': '4-1', 'WinType': 'boom', 'Team1Bank': 24200.0, 'Team2Bank': 3300.0, 'Team1BuyType': 'full-buy', 'Team2BuyType': 'full-buy'}
{'RoundWinner': 'PHO ', 'ScoreAfterRound': '4-2', 'WinType': 'boom', 'Team1Bank': 10200.0, 'Team2Bank': 10300.0, 'Team1BuyType': 'full-buy', 'Team2BuyType': 'full-buy'}
{'RoundWinner': 'BOOS', 'ScoreAfterRound': '5-2', 'WinType': 'elim', 'Team1Bank': 5700.0, 'Team2Bank': 8900.0, 'Team1BuyType': 'full-buy', 'Team2BuyType': 'full-buy'}
{'RoundWinner': 'BOOS', 'ScoreAfterRound': '6-2', 'WinType': 'time', 'Team1Bank': 6400.0, 'Team2Bank': 2400.0, 'Team1BuyType': 'full-buy', 'Team2BuyType': 'semi-buy'}
{'RoundWinner': 'BOOS', 'ScoreAfterRound': '7-2', 'WinType': 'elim', 'Team1Bank': 10900.0, 'Team2Bank': 5900.0, 'Team1BuyType': 'full-buy', 'Team2BuyType': 'semi-buy'}
{'RoundWinner': 'PHO ', 'ScoreAfterRound': '7-3', 'WinType': 'boom', 'Team1Bank': 16500.0, 'Team2Bank': 1200.0, 'Team1BuyType': 'full-buy', 'Team2BuyType': 'full-buy'}
{'RoundWinner': 'PHO ', 'ScoreAfterRound': '7-4', 'WinType': 'elim', 'Team1Bank': 6800.0, 'Team2Bank': 12300.0, 'Team1BuyType': 'full-buy', 'Team2BuyType': 'full-buy'}
{'RoundWinner': 'PHO ', 'ScoreAfterRound': '7-5', 'WinType': 'elim', 'Team1Bank': 900.0, 'Team2Bank': 9700.0, 'Team1BuyType': 'semi-buy', 'Team2BuyType': 'full-buy'}
{'RoundWinner': 'BOOS', 'ScoreAfterRound': '8-5', 'WinType': 'elim', 'Team1Bank': 300.0, 'Team2Bank': 100.0, 'Team1BuyType': 'eco', 'Team2BuyType': 'eco'}
{'RoundWinner': 'BOOS', 'ScoreAfterRound': '9-5', 'WinType': 'elim', 'Team1Bank': 3000.0, 'Team2Bank': 8200.0, 'Team1BuyType': 'semi-buy', 'Team2BuyType': 'eco'}
{'RoundWinner': 'PHO ', 'ScoreAfterRound': '9-6', 'WinType': 'elim', 'Team1Bank': 11900.0, 'Team2Bank': 500.0, 'Team1BuyType': 'semi-buy', 'Team2BuyType': 'full-buy'}
{'RoundWinner': 'BOOS', 'ScoreAfterRound': '10-6', 'WinType': 'elim', 'Team1Bank': 1900.0, 'Team2Bank': 9200.0, 'Team1BuyType': 'full-buy', 'Team2BuyType': 'full-buy'}
{'RoundWinner': 'PHO ', 'ScoreAfterRound': '10-7', 'WinType': 'elim', 'Team1Bank': 12200.0, 'Team2Bank': 700.0, 'Team1BuyType': 'full-buy', 'Team2BuyType': 'semi-buy'}
{'RoundWinner': 'BOOS', 'ScoreAfterRound': '11-7', 'WinType': 'elim', 'Team1Bank': 3700.0, 'Team2Bank': 6500.0, 'Team1BuyType': 'full-buy', 'Team2BuyType': 'full-buy'}
{'RoundWinner': 'BOOS', 'ScoreAfterRound': '12-7', 'WinType': 'elim', 'Team1Bank': 3900.0, 'Team2Bank': 9100.0, 'Team1BuyType': 'full-buy', 'Team2BuyType': 'semi-eco'}
{'RoundWinner': 'BOOS', 'ScoreAfterRound': '13-7', 'WinType': 'elim', 'Team1Bank': 3600.0, 'Team2Bank': 3500.0, 'Team1BuyType': 'full-buy', 'Team2BuyType': 'semi-buy'}

In [7]:
df_game_scoreboard.head()

,GameID,PlayerID,PlayerName,TeamAbbreviation,Agent,ACS,Kills,Deaths,Assists,PlusMinus,...,Num_4Ks,Num_5Ks,OnevOne,OnevTwo,OnevThree,OnevFour,OnevFive,Econ,Plants,Defuses
0,60894,8419,Reduxx,Boos,jett,313.0,24.0,10.0,3.0,14.0,...,2.0,0.0,1.0,0.0,0.0,0.0,0.0,74.0,0.0,0.0
1,60894,466,ChurmZ,Boos,chamber,227.0,16.0,10.0,7.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67.0,2.0,0.0
2,60894,3712,diaamond,Boos,sova,226.0,17.0,9.0,8.0,8.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,58.0,3.0,0.0
3,60894,5099,Boltzy,Boos,viper,218.0,17.0,12.0,2.0,5.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,48.0,0.0,0.0
4,60894,3983,Virtyy,Boos,skye,80.0,5.0,13.0,3.0,-8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,0.0